# --- Base de datos (PostgreSQL) ---
# Formato: postgresql://usuario:password@host:puerto/base_de_datos
DATABASE_URL=postgresql://database:admin123@localhost:5432/database_name

# --- NextAuth v5 (Autenticación) ---
AUTH_SECRET=mi_secreto_auth_cambiame_en_produccion_1234567890
AUTH_URL=http://localhost:3000